{% extends "CPaintDefaultBundle::layout.html.twig" %}
{% block meta %}<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />{% endblock meta %}
{% block title %}cPaint - Error{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1><img src="{{ asset('bundles/cpaintdefault/images/logo.png') }}" alt="cPaint" /> <small>Oops, an error has occured!</small></h1>
    <p>
        <a href="{{ path('homepage') }}">Go back to homepage.</a>
    </p>
</div>
{% endblock %}
