body { background-color: #4992aa; }
h1 img { width: 128px; }
h1 small { color: #333; }
a { color: #0024aa; }

/** Drawing **/
#drawing-container { margin: 50px -15px; }
.pixel { display: block; float: left; }
#drawing { border: 20px solid; background: white; }
#drawing .pixel { width: 20px; height: 20px; }

/** Colors **/
.colors .pixel { width: 20px; height: 20px; margin: 1px; }

.bitmap {
    margin: 0;
    padding: 10px;
}

.bitmap img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border: 4px solid black;
}

.edit-bitmap .pixel {
    border:1px solid #ccc;
}
.selected-color {
    display: block;
    width: 64px;
    height: 64px;
}
.pixel.selected {
    border: 2px solid black;
}

/** Sign in **/
.signin .rememberme { display: inline-block; margin: 0 0 0 10px; }
.signin .rememberme input { display: inline-block; }

/** Sign up **/
.signup .accept-tos { margin-top: 10px; font-size: 0.9em; }
.signup .form-error { display: inline-block; float: right; font-weight: bold; }
.signup .form-error ul { list-style: none; }

