body {
    padding-top: 70px;
}

h3 {
    margin-top: 0px;
}

.bitmap {
    margin: 0;
    padding: 10px;
}

.bitmap img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border: 4px solid black;
}

.edit-bitmap .pixel {
    border:1px solid #ccc;
}
.pixel {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    margin: 1px;
}
.selected-color {
    display: block;
    width: 64px;
    height: 64px;
}
.pixel.selected {
    border: 2px solid black;
}

/** Sign in **/
.signin .rememberme { display: inline-block; margin: 0 0 0 10px; }
.signin .rememberme input { display: inline-block; }
