body { background-color: #4992aa; color: #72B3C8; }

h1 { color: #156883; }
h1 img { width: 128px; }
h1 small { display: inline-block; vertical-align: bottom; color: #A7D5E4; }
h1 small em { font-size: 0.8em; }
h1 small form { display: inline-block; }
h1 small form .btn { display: inline-block; margin-left: -8px; vertical-align: bottom; }
a { color: #A7D5E4; }
a:hover { color: #156883; }
#main-menu { margin: 20px 20px 0; float: right; list-style: none; }
#main-menu li { display: inline-block; }
#main-menu li:hover { background-color: #A7D5E4; }
footer { margin: 50px 0; }

/** Drawing **/
#drawing-container { margin: 50px -15px; }
.pixel { display: block; float: left; }
#drawing { }
#drawing .line:first-child .pixel { border-top: 20px solid white; }
#drawing .line:last-child .pixel { border-bottom: 20px solid white; }
#drawing .line .pixel:first-child { border-left: 20px solid white; }
#drawing .line .pixel:last-child { border-right: 20px solid white; }

#drawing .pixel { width: 20px; height: 20px; }
.sharing iframe { vertical-align: middle; height: 22px !important; }
.hcount #count { min-width: 15px; }

/** Colors **/
.colors .pixel { width: 20px; height: 20px; margin: 1px; }

.bitmap {
    margin: 0;
    padding: 10px;
}

.bitmap img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border: 4px solid black;
}

.edit-bitmap .pixel {
    border:1px solid #ccc;
}
.selected-color {
    display: block;
    width: 64px;
    height: 64px;
}
.pixel.selected {
    border: 2px solid black;
}

/** Sign in **/
.signin .rememberme { display: inline-block; margin: 0 0 0 10px; }
.signin .rememberme input { display: inline-block; }

/** Sign up **/
.signup .accept-tos { margin-top: 10px; font-size: 0.9em; }
.signup .form-error { display: inline-block; float: right; font-weight: bold; }
.signup .form-error ul { list-style: none; }

