/* 92b6ff, b6dbff, ffffff */
body { background-color: #92b6ff; color: #ffffff; }

h1 { color: #ffffff; }
h1 img { vertical-align: bottom; }
h1 .logo { width: 128px; }
h1 .lockpad { width: 32px; }
h1 small { display: inline-block; vertical-align: bottom; color: #ffffff; }
h1 small em { font-size: 0.8em; }
h1 small form { display: inline-block; }
h1 small form .btn { display: inline-block; margin-left: -8px; vertical-align: bottom; }
a { color: #ffffff; }
a:hover { color: #b6dbff; }
#main-menu { margin: 20px 20px 0; float: right; list-style: none; }
#main-menu li { display: inline-block; }
#main-menu li:hover { background-color: #b6dbff; }
footer { margin: 50px 0; }

/** Drawing **/
.pixelArt { max-width: 100%; }
.pixel { display: block; float: left; }
.pixel.selected { border: 2px solid black; }
#drawing-container { margin: 50px -15px; }
#drawing { }
#drawing .pixel { border: 1px solid white; }
#drawing .line:first-child .pixel { border-top: 20px solid white; }
#drawing .line:last-child .pixel { border-bottom: 20px solid white; }
#drawing .line .pixel:first-child { border-left: 20px solid white; }
#drawing .line .pixel:last-child { border-right: 20px solid white; }

#drawing .pixel { width: 20px; height: 20px; }
.sharing iframe { vertical-align: middle; height: 22px !important; }
.hcount #count { min-width: 15px; }

/** Colors **/
.colors .pixel { width: 20px; height: 20px; margin: 1px; }

/** Icons **/
.icon { display: inline-block; width: 16px; height: 16px; background-size: 16px 16px; background-repeat: no-repeat; vertical-align: text-top; }
.icon-locked { background-image: url(../images/locked.gif); }
.icon-unlocked { background-image: url(../images/unlocked.gif); }

/* Gallery */
.drawing { margin: 0; padding: 10px; }
a.drawing, a.drawing:hover { text-decoration: none; }
.drawing img { width: 100%; max-width: 480px; height: auto; border: 4px solid black; }


/** Sign in **/
.signin .rememberme { display: inline-block; margin: 0 0 0 10px; }
.signin .rememberme input { display: inline-block; }

/** Sign up **/
.signup .accept-tos { margin-top: 10px; font-size: 0.9em; }
.signup .form-error { display: inline-block; float: right; font-weight: bold; }
.signup .form-error ul { list-style: none; }


input, textarea { color: #b6dbff !important; }