<footer>
    <div class="container-fluid">
        <a href="{{ path('homepage') }}">New drawing</a>
        <span class="separator">·</span>
        <a href="{{ path('gallery_index') }}">Visit the gallery</a>
    </div>
</footer>