<footer>
    <div class="container-fluid">
        <p>
            <a href="{{ path('homepage') }}">New drawing</a>
            <span class="separator">·</span>
            <a href="{{ path('gallery_index') }}">Visit the gallery</a>
        </p>
        <div class="fb-like"data-share="true" data-width="450" data-show-faces="true"></div>
    </div>
</footer>