<ul id="main-menu">
    <li><a href="{{ path('drawing_new', { width:16, height:16 }) }}" title="New drawing"><img src="{{ asset('bundles/cpaintdefault/images/new.gif') }}" alt="New" /></a></li>
    <li><a href="{{ path('gallery_index') }}" title="View the gallery"><img src="{{ asset('bundles/cpaintdefault/images/gallery.gif') }}" alt="New" /></a></li>
</ul>
